/*font-family: 'Droid Serif', serif;*/
/*font-family: 'Montserrat', sans-serif;*/

html, body {
  background-color: #000;
}

.container {
  max-width: 1000px;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.header {

}

.main {
  background-color: #b45caa;
  padding: 0;
  margin: 0;
}

.sideNav li {
  display: block;
  float: left;
  color: #CF9CFC;
}

.sideNav .active {
  color: #4C048B;
}
